<!DOCTYPE html>
<html ng-app="Tingeso" ng-controller="MainController">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/tingeso.css" />
	<script type="text/javascript" src="js/shared/jquery.js"></script>
	<script type="text/javascript" src="js/shared/bootstrap.js"></script>
	<script type="text/javascript" src="js/shared/angular.js"></script>
    <script type="text/javascript" src="js/shared/angular-route.js"></script>
	<!-- dependencias de angular -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/MainController.js"></script>
    <script type="text/javascript" src="js/controllers/StudentController.js"></script>
    <script type="text/javascript" src="js/controllers/StudentsController.js"></script>
    <script type="text/javascript" src="js/utils/filters.js"></script>
</head>
<style>
  body {
    background-image: url("style.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: central-central;
    background-attachment: fixed;
}
</style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
		  <li ng-repeat="element in navigation" class="ng-class:element.class"><a class="nav-item" ng-href="{{element.link}}" ng-click="loadNav()">{{element.text}}</a> </li>
    </ul>
  </div>
</nav>
<main>
    <div ng-view></div>
</main>
</body>
</html>